*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
}
#app {
  background-color: rgb(237 237 237);
}
#body-pd {
  transition: 0.5s;
  min-height: calc(100vh - 65px);
  margin: 3rem 0 0 0;
  a {
    text-decoration: none;
  }
  @media (min-height: 768px) {
    margin: 4rem 0 0 0;
  }
}
.form--separator {
  border-bottom: 1px solid #DDDDDD;
  margin: 0 0 30px;
  background: none;
}
.cursor-pointer {
  cursor: pointer;
}
.required-input {
  color: var(--bs-danger);
}