$header-bg-color: #1A67A3;
$header-border-bottom-width: 0;
$header-border-bottom-color: #1A67A3;
$default-text-color: #333333;

$header-height: 3rem;
$nav-width: 68px;
$first-color: #4723d9;
$first-color-light: #afa5d9;
$white-color: #f7f6fb;
$body-font: "Nunito", sans-serif;
$normal-font-size: 1rem;
$z-fixed: 100;
#app {
  height: 100vh;
}
#body-pd {
  transition: 0.5s;
  background-color: rgb(237 237 237) !important;
  margin: calc(3rem + 1rem) 0 0 0 !important;
  a {
    text-decoration: none;
  }
}
.form--separator {
  border-bottom: 1px solid #DDDDDD;
  margin: 0 0 30px;
  background: none;
}
.cursor-pointer {
  cursor: pointer;
}
.required-input {
  color: var(--bs-danger);
}